.nav-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #7acfe4;
	width: 100%;
    z-index: 1000;
    /* height: 5em; */
	/* margin: 0 auto; */
    /* float: right; */
}

.nav-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
} 

.nav-container li {
    /* display: inline-block; */
    list-style: none;
    /* margin-left: 4em;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 1em; */
    margin: 2em 2em 1em 4em;
    /* float: right; */
  
    /* position: relative; */
}

.nav-container a {
    text-decoration: none;
    font-size: 1.5em;
    color: grey;
    font-weight: bold;
}

body{
    padding-top: 3em;
}

.filling-form{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 80%; */
}

.filling-form th{
    height: 1.5em;
    /* margin: 15px; */
    padding: 5px;
}

.filling-form select{
    width: 150px;
    height: 25px;
    text-align: center;
}

table, th, tr {
    /* width: 50%; */
    border-collapse: collapse;
    border: 1px solid black;
}

th:hover{
    background: #96d4e4
}

.submit-button {
    background-color: green;
    border-radius: 5px; 
    width: 150px; 
    height: 30px; 
    color: white;
    font-size: 1.2em; 
    border: none; 
    cursor: pointer;
}

.submit-button:hover {
    background-color: darkgreen; 
}